body{
background-image: url("https://farm5.staticflickr.com/4422/37069229655_a025bda3a7_o.jpg");
-webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  -o-background-size: 100%;
  position: relative;
  height: 100vh;
}


/* Start of Navbar Stuff */
.navbar-inverse{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
  color:#3B81BF;
  font-size: larger;
}

.navbar-inverse .navbar-nav>li>a {
  color: #3B81BF;
}

.dropdown{
  color: #3B81BF;
  text-transform:uppercase;
}

.dropdown-menu>li>a{
  color: #3B81BF;
  text-transform:uppercase;
}

.Twtbtn{
  padding: 3px;
  margin: 5px;
  border-radius: 7px;
  background-color: black;
  border-color: black;
}

.btn-navbar{
  background-color: #f0641f;
  color: black;
}

li.wBtn {
    display: flex;
}
/*End of NavBar Stuff*/


